$color-primary: #fa5b5b;
$color-white: #fff;
$color-black: #000;
$color-black-light: #2f3640;
$color-grey: #888;

$nav-border-bottom-color: #5c5c5c;
$nav-box-shadow-color-1: #3c4043;
$nav-box-shadow-color-2: #2a2a2b;

$nav-border-bottom-color: rgb(71, 71, 71);

$normal: 400;
$semi-bold: 600;
$bold: 700;

$section-padding-top: 70px;
$section-padding-bottom: 70px;

$inter-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
